<section class="mat-typography">
  <div [formGroup]="joinGroup" *ngIf="participant == null">
    <h1>Join a sizing session</h1>
    <h4 class="text-muted">
      The session key is visible on the shared session page.
    </h4>
    <div>
      <mat-form-field>
        <input matInput formControlName="key" placeholder="Session key">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Name">
      </mat-form-field>
    </div>
    <p>
      <button (click)="join()" [disabled]="!joinGroup.valid" mat-raised-button color="primary">Join</button>
    </p>
  </div>
  <div *ngIf="participant">
    <h3>Welcome, {{participant.name}}!</h3>
    <h4 class="text-muted">
      Enter your estimated size below
    </h4>
    <div [formGroup]="sizeGroup">
      <div *ngIf="isSizeCleared">
        Size cleared
      </div>
      <mat-form-field>
        <input matInput formControlName="size" placeholder="Size">
      </mat-form-field>
    </div>
  </div>
</section>