<h1>Welcome, participant</h1>
<div [formGroup]="joinGroup" *ngIf="participant == null">
  <div>
    <p>
      The session key is visible on the shared session page.
    </p>
    <label>
      Session key:
      <input type="text" formControlName="key">
    </label>
  </div>
  <div>
    <label>
      Name:
      <input type="text" formControlName="name">
    </label>
  </div>
  <p>
    <button (click)="join()" [disabled]="!joinGroup.valid" class="btn btn-primary">Join</button>
  </p>
</div>
<div *ngIf="participant">
  <label>
    Name: <span>{{participant.name}}</span>
  </label>
  <div [formGroup]="sizeGroup">
    <label>
      Size:
      <input type="number" formControlName="size">
    </label>
  </div>
</div>